@media only screen and (min-device-width: 1px) and (max-device-width: 767px) {
    .wrapper-home {
        background-image: url('../assets/background-1.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
}