@media only screen and (min-device-width: 1px) and (max-device-width: 767px) {
  .wrapper-seacher {
    margin: 0 auto;
    width: 85%;
    height: 37px;
    margin-top: 23px;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper-seacher .icon-lookup-seacher {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
  }
  .wrapper-seacher .icon-scanner-seacher {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
  }
  .wrapper-seacher .text-seacher {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    text-align: left;
  }
  .wrapper-seacher .text-seacher input {
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    outline: none;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
  }
}