@import './home/Home.css';
@import './menu/Menu.css';
@import './menuNavigation/MenuNavigation.css';
@import './home/Seacher.css';

body {
    margin : 0;
    padding: 0;
}

.container {
    .row {
        display : flex;
        height  : 100%;
        position: relative;
        width   : 100%;

        .col-100 {
            width: 100%;
        }

        .col-50 {
            width: calc(100% / 2);
        }

        .col-33 {
            width: calc(100% / 3);
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

@media only screen and (min-device-width: 1px) and (max-device-width: 767px) {}