@import './home/Home.css';
@import './menu/Menu.css';
@import './menuNavigation/MenuNavigation.css';
@import './home/Seacher.css';
body {
  margin: 0;
  padding: 0;
}

.container .row {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}
.container .row .col-100 {
  width: 100%;
}
.container .row .col-50 {
  width: 50%;
}
.container .row .col-33 {
  width: 33.3333333333%;
}